*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.box{
    width: 90%;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 0 0 1rem white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.jokes-box{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    width: 90%;
    box-shadow: 0 0 0.5rem white;
    
}

button{
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 1rem;
    width: 20%;
    text-align: center;
    margin-bottom: 1rem;
}